<h1>New Postmortem</h1>


<%= form_with scope: :postmortem, url: postmortem_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :tldr %><br>
    <%= form.text_area :tldr %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>
